body {
  background-color: #f7f7f9;
}

html * {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0;
}

@media (min-width: 375px) {
  /* NAVBAR */
  #navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;
    background-color: #fff;
    padding-top: 1rem;
  }

  /* HEAD-LINE */
  .headline-supporting-text p {
    color: #7f8cff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  #navbar-container .logo {
    color: #6070ff;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
  }

  #navbar {
    display: flex;
  }

  .humburger-container {
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .humburger-container div {
    width: 16px;
    background-color: #6070ff;
    border: 2px solid #6070ff;
    border-radius: 8px;
  }

  .menu-container {
    display: none;
  }

  #welcome-section {
    padding-top: 44px;
  }

  #background-mobile {
    height: 718px;
    background-color: #fff;
    border-bottom-left-radius: 80px;
    margin: auto;
  }

  /* SHAPES */
  #shapes-background {
    width: 100%;
    background-image: url("./assets/images/shapes-background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* HEADLINE */
  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 114px 24px;
    gap: 12px;
  }

  .section-title {
    color: #172b4d;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    width: 80%;
  }

  .headline .headline-text {
    color: #344563;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .headline .headline-supporting-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 117px;
    height: 24px;
  }

  .headline .headline-social-media {
    width: 170.17px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    list-style-type: none;
    padding: 0;
  }

  /* WORKS */
  #works-section {
    display: grid;
    grid-template-columns: auto;
  }

  .work-container {
    background-color: #fff;
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
  }

  .align-item {
    margin: 15px 20px auto 20px;
  }

  .work-container img {
    transition: transform 100ms;
  }

  .global-skills-secondary img {
    width: 48px;
    height: 48px;
    margin-left: 10px;
    animation: icon-rotation 3s linear infinite;
  }

  @keyframes icon-rotation {
    to {
      transform: rotate(360deg);
    }
  }

  .image-modal img {
    width: 80vw;
  }

  .work-container img:hover {
    transform: rotate(4deg);
  }

  .work-info-container h1 {
    color: #172b4d;
    font-weight: 700;
    line-height: 44px;
  }

  .work-description {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    margin-bottom: 1rem;
  }

  .work-description .company {
    color: #344563;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
  }

  .work-description .position,
  .work-description .year {
    color: #7a869a;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .separator {
    width: 8px;
    height: 8px;
    background-color: #c1c7d0;
    border-radius: 50%;
  }

  .project-description p {
    color: #344563;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .technologie-label {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }

  .technologie-label li {
    background-color: #ebebff;
    padding: 2px 15px;
    border-radius: 8px;
    color: #6070ff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .global-skills-title p {
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .global-skills-secondary p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .see-project {
    width: 124px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #6070ff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    margin-bottom: 15px;
  }

  .see-project:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .see-project:disabled {
    color: #5e6c84;
    border: 1px solid #c1c7d0;
  }

  .see-project:active {
    color: #fff;
    background: #2230d2;
  }

  .about-container {
    background-color: #fff;
    border-top-right-radius: 80px;
    margin: auto;
  }

  #about-description-container {
    padding: 0;
  }

  #about-title {
    margin-top: 20px;
  }

  .download-resume {
    width: 162px;
    height: 48px;
    margin-top: 12px;
  }

  #global-skills {
    margin: auto;
    width: 100%;
  }

  .global-skills-container ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
  }

  .global-skills-title {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .down-arrow,
  .right-arrow {
    width: 7px;
    height: 7px;
    border-right: 2px solid #acb7c3;
    border-top: 2px solid #acb7c3;
    margin-right: 40px;
  }

  .down-arrow {
    transform: rotate(135deg);
  }

  .global-skills-secondary li {
    height: 67px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background-color: #f7f7f9;
    margin: 20px auto;
    border-radius: 10px;
  }

  .right-arrow {
    transform: rotate(45deg);
  }

  .list-closed {
    border: solid #dfe1e6;
    border-width: 0 0 1px 0;
  }

  /* Contact Form */
  .form-container {
    margin: auto;
    background: #fff;
  }

  .contact-background {
    background-image: url("./assets/images/form-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6070ff;
    border-top-left-radius: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .contact-background .contact-text {
    margin: 100px 30px 20px 30px;
    color: #fff;
    text-align: center;
  }

  .contact-text h2 {
    margin-top: 30px;
  }

  .contact-text p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  #contact-form {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #contact-form input,
  #contact-form textarea {
    width: 100%;
    border-radius: 10px;
    border-width: 0;
    border: none;
    outline: none;
  }

  #contact-form input {
    height: 35px;
  }

  #contact-form textarea {
    resize: none;
  }

  #contact-form input:focus,
  #contact-form textarea:focus {
    border: 2px solid #7f8cff;
    outline: none;
    box-shadow: 0 0 10px #719ece;
  }

  #contact-form button {
    width: 162px;
    height: 48px;
    border: 1px solid #6070ff;
    background-color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #6070ff;
  }

  #contact-form button:hover {
    background: #6070ff;
    border-color: #fff;
    color: #fff;
  }

  .full-screen-navbar-container {
    padding-top: 0 !important;
    z-index: 1;
  }

  .full-screen-menu {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: rgb(96, 112, 255, 0.7);
    padding-top: 4rem;
  }

  .full-screen-menu-links {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 2rem;
  }

  .full-screen-hamburger {
    margin-top: 1rem;
  }

  .full-screen-slice1 {
    display: none;
  }

  .full-screen-meat {
    transform: translate(0, 6px) rotate(45deg);
    transition: 0.3s;
    background: #fff !important;
    border: 1px solid #fff !important;
  }

  .full-screen-slice2 {
    transform: translate(0, 1px) rotate(135deg);
    transition: 0.3s;
    background-color: #fff !important;
    border: 1px solid #fff !important;
  }

  .full-screen-blur {
    filter: blur(0.3rem);
  }

  .modal {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }

  .modal-body {
    position: relative;
    width: 90%;
    height: 90%;
    background-color: #fff;
    margin: 2vw auto;
    border-radius: 1rem;
    border: 1px solid #ebecf0;
  }

  .data-modal {
    width: 90vw;
  }

  .detail-modal-container {
    width: 80vw;
  }

  .detail-modal-container,
  .tech-modal-container {
    margin: auto;
  }

  .tech-modal {
    flex-wrap: wrap;
    margin: 1rem auto;
  }

  .modal-buttons {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ebecf0;
  }

  .close-modal {
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 7%;
  }

  .detail-modal-container p {
    font-size: 3.2vw;
    color: #344563;
    font-weight: 400;
    line-height: 24px;
  }

  .modal-button {
    width: 146px;
    height: 48px;
    font-size: 15px;
  }

}

@media (min-width: 768px) {
  #navbar-container .logo {
    margin-left: 10vw;
  }

  .humburger-container {
    display: none;
  }

  .menu-container {
    display: flex;
    gap: 5vw;
    margin-right: 10vw;
  }

  .menu-container a {
    text-decoration: none;
    color: #344563;
    font-weight: 500;
  }

  .headline {
    margin: auto 11vw;
  }

  #shapes-background {
    background-image: url("./assets/images/shapes-background-desktop.png");
  }

  #introduction {
    margin-top: 10vw;
  }

  .work-container {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    column-gap: 2rem;
  }

  .work-container img,
  .work-container .work-aditional-info {
    width: 90%;
  }

  .global-skills-secondary li img {
    margin-left: 0;
    margin-top: 1rem;
  }

  .work-container:first-child img {
    content: url("./assets/images/work-1-desktop.png");
  }

  .work-container:nth-child(2) img {
    content: url("./assets/images/work-2-desktop.png");
    order: 2;
  }

  .work-container:nth-child(3) img {
    content: url("./assets/images/work-3-desktop.png");
  }

  .work-container:nth-child(4) img {
    content: url("./assets/images/work-4-desktop.png");
    order: 2;
  }

  #about-description-container {
    display: grid;
    grid-template-columns: 6fr 6fr;
  }

  .global-skills-secondary {
    display: flex;
    gap: 1rem;
  }

  .work-info-container h1 {
    font-size: 3.5vw;
    line-height: 52px;
  }

  .project-description p {
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 24px;
  }

  .work-description .company {
    font-size: 1.5vw;
    line-height: 24px;
  }

  .work-description .position,
  .work-description .year {
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 24px;
  }

  .technologie-label li {
    font-weight: 400;
    line-height: 24px;
  }

  .see-project {
    margin-top: 40px;
  }

  /* modal work section */

  .data-modal {
    display: flex;
    flex-wrap: wrap;
  }

  .detail-modal-container {
    width: 65%;
    margin: 1rem 1.2rem;
  }

  .detail-modal-container p {
    font-size: 1.3vw;
  }

  .global-skills-secondary li {
    margin: 20px 0;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    padding-right: 3rem;
    padding-bottom: 3.5rem;
  }

  .headline-supporting-text {
    margin: 1rem 0;
  }

  #about-social-media-icons {
    padding-left: 1rem;
  }

  .download-resume {
    margin-top: 2rem;
  }

  .section-title {
    width: 50%;
  }

  .contact-background {
    background-image: url("./assets/images/form-background-desktop.png");
  }

  .contact-background .contact-text {
    max-width: 40%;
    margin: 100px auto 20px auto;
  }

  #contact-form {
    margin: 20px auto;
  }

  #contact-form input,
  #contact-form textarea {
    width: 30vw;
  }

  #contact-form button {
    margin: auto;
    height: 48px;
  }

  .down-arrow {
    margin: 0;
  }

  .contact-text p {
    font-size: 1.4vw;
  }

  .image-modal {
    margin: auto;
    text-align: center;
    width: 96%;
    background-color: #e6e6e2;
  }

  .image-modal img {
    width: 70vw;
    object-fit: cover;
    height: 60vh;
    margin: 0 0 -0.4rem 0;
  }

  .label-button-modal-container {
    width: 25%;
  }

  .close-modal {
    top: 2%;
    right: 4%;
  }
}
