body {
  background-color: #f7f7f9;
}

html * {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

@media (min-width: 375px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    height: 48px;
    width: 375px;
    top: 44px;
  }

  #logo-container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100px;
    margin-left: 24px;
  }

  .headline-supporting-text p {
    color: #7f8cff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  #navbar p {
    color: #6070ff;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 20px;
  }

  #menu {
    height: 40px;
    width: 40px;
    top: 4px;
    border-radius: 8px;
    padding: 8px;
  }

  #hamburger-container {
    position: absolute;
    flex: none;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    right: 24px;
  }

  #hamburger-container .union {
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 40px / 2);
  }

  .union div {
    position: absolute;
    width: 16px;
    left: 4px;
    background-color: #6070ff;
    border: 2px solid #6070ff;
    border-radius: 8px;
  }

  .union .slice-1 {
    top: 7px;
  }

  .union .meat {
    top: 12px;
  }

  .union .slice-2 {
    top: 17px;
  }

  #background-mobile {
    position: absolute;
    width: 375px;
    height: 718px;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: -1;
    border-bottom-left-radius: 80px;
  }

  /* Shapes */
  #shapes-background {
    position: absolute;
    width: 462px;
    height: 587.15px;
    left: -34px;
    top: 104px;
  }

  #shapes-background img {
    position: absolute;
  }

  #shapes-background .rectangle-4 {
    top: 14px;
    left: 328px;
  }

  #shapes-background .ellipse-3 {
    top: 48.24px;
    left: 357px;
  }

  #shapes-background .ellipse-8 {
    top: 6px;
    left: 214px;
  }

  #shapes-background .rectangle-6 {
    right: 419.27px;
  }

  #shapes-background .ellipse-11 {
    top: 24.64px;
    right: 404.4px;
  }

  #shapes-background .rectangle-7 {
    top: 44px;
    right: 277.68px;
  }

  #shapes-background .ellipse-5 {
    top: 51.81px;
    left: 159px;
  }

  #shapes-background .ellipse-14 {
    left: 332px;
    top: 211px;
  }

  #shapes-background .ellipse-12 {
    top: 429px;
    left: 351px;
  }

  #shapes-background .ellipse-13 {
    top: 440px;
    left: 338px;
  }

  #shapes-background .ellipse-15 {
    top: 541px;
    left: 87px;
  }

  #shapes-background .ellipse-4 {
    top: 553.1px;
    left: 271px;
  }

  #shapes-background .rectangle-5 {
    top: 549px;
    left: 221px;
  }

  /* HEADLINE */
  #headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 114px 24px;
    gap: 12px;
  }

  #headline .headline-title {
    color: #172b4d;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  #headline .headline-text {
    color: #344563;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #headline .headline-supporting-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 117px;
    height: 24px;
  }

  #headline .headline-social-media {
    width: 170.17px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
  }
}
